---
import HeroSimple from "../components/HeroSimple.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">
  <div class="container">
    <HeroSimple title="Page Not Found" tagline="Sorry, please try again." />
  </div>
</BaseLayout>
