---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
    title="Seth Hall Creative | About"
    description="This is the about page of Seth Hall Creative."
>
    <main></main>
</BaseLayout>
