---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";

import HeroSimple from "@/components/HeroSimple.astro";
import Grid from "@/components/Grid.astro";
import PortfolioPreview from "@/components/PortfolioPreview.astro";
import ContactCTA from "@/components/ContactCTA.astro";

const projects = (await getCollection("creative")).sort(
  (
    a: { data: { publishDate: number } },
    b: { data: { publishDate: number } },
  ) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
  title="Creative Projects"
  description="Learn about Seth Hall's most recent creative projects"
>
  <div class="stack gap-20">
    <main class="stack container gap-14">
      <HeroSimple
        title="Creative Projects"
        tagline="Explore my diverse creative portfolio, featuring projects across multiple mediums."
      />
      <Grid variant="offset">
        {
          projects.map((project: any) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
