---
import Icon from "@/components/Icon.astro";

const { href, icon } = Astro.props;
---

<a href={href} class="btn">
  <Icon icon={icon} size="1.5em" />
  <span><slot /></span>
</a>

<style>
  .btn {
    @apply flex gap-2 rounded-lg border-2 bg-foreground p-2 px-4 text-md text-background no-underline hover:border-2 hover:border-foreground hover:bg-background hover:text-foreground;
  }
</style>
