---
import Icon from "./Icon.astro";
const currentYear = new Date().getFullYear();
---

<footer
  class="stack mt-auto gap-6 p-6 text-center text-sm md:flex-row md:justify-between md:p-12"
>
  <div class="stack items-center gap-1 md:flex-row">
    <p class="flex gap-1">
      <a href="/made-with" class="flex items-center gap-1">
        <span>Made with</span>
        <a href="https://astro.build/" class="rotate-12">
          <span class="relative bottom-4">
            <Icon icon="rocket" size="1rem" />
          </span></a
        >
      </a>
      <span>from my</span>
      <a href="/about/" class="">vintage Airstream</a>
    </p>
    <p class="flex items-center gap-1">
      <Icon icon="copywrite" size="1rem" />
      {currentYear} Roadshow Creative
    </p>
  </div>
  <p class="flex flex-wrap justify-center gap-4">
    <a href="https://github.com/sethburtonhall">GitHub</a>
    <a href="https://www.linkedin.com/in/sethburtonhall/">LinkedIn</a>
    <a href="/seth_hall_resume.pdf">Download CV</a>
  </p>
</footer>
