---
import Icon from "./Icon.astro";
const currentYear = new Date().getFullYear();
---

<footer
  class="stack mt-auto gap-12 p-6 text-center text-sm md:flex-row md:justify-between md:p-12"
>
  <div class="stack items-center gap-1 md:flex-row">
    <p class="flex gap-1">
      <a href="/made-with" class="flex items-center gap-1">
        <span>Made with</span>
        <Icon icon="rocket" size="1rem" />
      </a>
      <span>from my</span>
      <a href="/about/" class="">vintage Airstream</a>.
    </p>
    <p class="flex items-center gap-1">
      <Icon icon="copywrite" size="1rem" gradient />
      {currentYear} Roadshow Creative
    </p>
  </div>
  <p class="flex flex-wrap justify-center gap-4">
    <a href="https://github.com/sethburtonhall">GitHub</a>
    <a href="https://www.linkedin.com/in/sethburtonhall/">LinkedIn</a>
  </p>
</footer>
