---
interface Props {
  title: string;
  tagline?: string | (string | { text: string })[];
  url?: string;
  githubUrl?: string;
  align?: "start" | "center";
}

const { title, tagline } = Astro.props;
---

<section>
  <div class:list={["stack gap-2"]}>
    <h1 class="text-2xl lg:text-3xl xl:text-5xl">
      {title}
    </h1>
    <p class="text-lg text-stone-300 lg:text-xl">
      {tagline}
    </p>
  </div>
</section>
