---
import Icon from "@/components/Icon.astro";

interface Props {
  title: string;
  tagline?: string | (string | { text: string })[];
  url?: string;
  githubUrl?: string;
  align?: "start" | "center";
}

const { align = "start", title, tagline, url, githubUrl } = Astro.props;
const hasUrl = url || githubUrl;
---

<section
  class:list={[
    align === "start" && "text-center lg:text-left",
    align === "center" && "text-center",
  ]}
>
  <div class="stack gap-8">
    <div
      class:list={["stack gap-2 md:items-start", hasUrl && "!items-stretch"]}
    >
      <div
        class:list={[
          "stack items-center justify-center gap-4 md:flex-row",
          hasUrl && "justify-between",
        ]}
      >
        <h1 class="text-3xl tracking-tighter md:text-4xl xl:text-5xl">
          {title}
        </h1>
        {
          url && (
            <div class="flex items-center gap-4">
              {url && (
                <a
                  href={url}
                  class="btn btn-link flex min-w-max items-center gap-2"
                >
                  <Icon icon="externalLink" size="1.3em" />
                  View Site
                </a>
              )}

              {githubUrl && (
                <a
                  href={githubUrl}
                  class="btn btn-black flex items-center gap-2"
                >
                  <Icon icon="githubLogo" size="1.3em" />
                  Github
                </a>
              )}
            </div>
          )
        }
      </div>
      <p
        class="max-w-sm self-center text-lg text-stone-300 md:max-w-lg lg:text-xl"
      >
        {
          typeof tagline === "string"
            ? tagline
            : tagline?.map((item) =>
                typeof item === "string" ? (
                  item
                ) : (
                  <Fragment>
                    <span class="font-semibold text-accent-regular">
                      {item.text}
                    </span>
                  </Fragment>
                ),
              )
        }
      </p>
    </div>
    {
      Astro.slots.has("default") && (
        <div
          class:list={[
            "flex flex-wrap justify-center gap-4 lg:justify-start",
            align === "center" && "justify-center",
          ]}
        >
          <slot />
        </div>
      )
    }
  </div>
</section>

<style>
  .btn {
    @apply rounded-lg px-2 py-1 font-bold no-underline lg:px-3 lg:py-2;
  }
  .btn-link {
    @apply bg-accent-regular text-white;
  }
  .btn-link:hover {
    @apply bg-[#c561f6];
  }

  .btn-black {
    @apply bg-foreground text-background;
  }
  .btn-black:hover {
    @apply bg-stone-300;
  }
</style>
