---
import Icon from "@/components/Icon.astro";

interface Props {
  title: string;
  tagline?: string | (string | { text: string })[];
  url?: string;
  githubUrl?: string;
  align?: "start" | "center";
}

const { align = "start", title, tagline, url, githubUrl } = Astro.props;
---

<section
  class:list={[
    align === "start" && "text-center md:text-left",
    align === "center" && "text-center",
  ]}
>
  <div class="stack gap-8">
    <div class="stack gap-2">
      <div class="stack items-center justify-between gap-4 md:flex-row">
        <h1 class="text-3xl tracking-tighter lg:text-5xl">
          {title}
        </h1>
        <div class="flex items-center gap-2">
          {
            url && (
              <a href={url} class="btn btn-link flex items-center gap-2">
                <Icon icon="externalLink" size="1.3em" />
                View Site
              </a>
            )
          }

          {
            githubUrl && (
              <a href={githubUrl} class="btn btn-black flex items-center gap-2">
                <Icon icon="githubLogo" size="1.3em" />
                Github
              </a>
            )
          }
        </div>
      </div>
      <p class="text-lg text-stone-500 lg:text-xl">
        {
          typeof tagline === "string"
            ? tagline
            : tagline?.map((item) =>
                typeof item === "string" ? (
                  item
                ) : (
                  <Fragment>
                    <span class="font-semibold text-accent-regular">
                      {item.text}
                    </span>
                  </Fragment>
                ),
              )
        }
      </p>
    </div>
    {
      Astro.slots.has("default") && (
        <div
          class:list={[
            "hidden gap-4 lg:flex",
            align === "center" && "justify-center",
          ]}
        >
          <slot />
        </div>
      )
    }
  </div>
</section>

<style>
  .btn {
    @apply rounded-lg px-3 py-2 font-bold no-underline;
  }
  .btn-link {
    @apply bg-accent-regular text-white;
  }
  .btn-link:hover {
    @apply bg-[#c561f6];
  }

  .btn-black {
    @apply bg-foreground text-background;
  }
  .btn-black:hover {
    @apply bg-stone-300;
  }
</style>
