---
interface Props {
  title: string;
  tagline?: string | (string | { text: string })[];
  align?: "start" | "center";
}

const { align = "center", tagline, title } = Astro.props;
---

<section
  class:list={[
    align === "start" && "text-center lg:text-left",
    align === "center" && "text-center",
  ]}
>
  <div class="stack gap-8">
    <div class="stack gap-2">
      <h1 class="text-3xl tracking-tighter lg:text-5xl">
        {title}
      </h1>
      <p class="text-lg text-stone-500 lg:text-xl">
        {
          typeof tagline === "string"
            ? tagline
            : tagline?.map((item) =>
                typeof item === "string" ? (
                  item
                ) : (
                  <Fragment>
                    <span class="font-semibold text-accent-regular">
                      {item.text}
                    </span>
                  </Fragment>
                ),
              )
        }
      </p>
    </div>
    <div
      class:list={[
        "hidden gap-4 lg:flex",
        align === "center" && "justify-center",
      ]}
    >
      <slot />
    </div>
  </div>
</section>
