---
import { cn } from "@/lib/utils";

import Icon from "@/components/Icon.astro";

import { Picture } from "astro:assets";
import cover from "@/public/assets/creative/virtual-coffee-podcast.jpg";

const { className, url } = Astro.props;
---

<div
  class={cn(
    "max-w-3xl overflow-hidden flex gap-6  m-auto rounded-lg border bg-card text-card-foreground shadow-sm",
    className,
  )}
>
  <div class="md:flex">
    <div class="relative rounded-lg md:w-64 md:min-w-[256px]">
      <Picture
        src={cover}
        alt="Virtual Coffee Podcast"
        loading="eager"
        class="aspect-square w-full object-cover"
      />
    </div>

    <div class="stack justify-between p-6">
      <div>
        <h5 class="mb-1">From Film Production to Web Developer</h5>
        <p class="text-muted-foreground mb-2 text-sm">
          The Virtual Coffee Podcast • August 9, 2022
        </p>
        <p class="mb-4 text-sm">
          Bekah and Dan from Virtual Coffee talk to Seth Hall about the
          importance of fostering authentic company culture, as well as how his
          search to find a challenging, fun, and flexible job led him from Film
          Production, to Web Developer.
        </p>
      </div>
      <div class="flex items-center justify-between">
        <div class="stack">
          <span class="text-muted-foreground text-sm"
            >Season 6, Episode 2
          </span>
          <span class="text-muted-foreground text-sm"> 55:09 mins </span>
        </div>
        <a
          href={url}
          class="flex gap-2 rounded-md bg-black p-2 px-4 text-md text-white no-underline hover:bg-stone-200 hover:text-white"
        >
          <Icon icon="play" size="1.5em" />
          <span>Listen Now</span>
        </a>
      </div>
    </div>
  </div>
</div>
