---
import { Picture } from "astro:assets";
import Button from "@/components/Button.astro";
import cover from "@/public/assets/creative/virtual-coffee-podcast.jpg";
import logo from "@/public/assets/creative/virtual-coffee-logo.png";

interface Props {
  className?: string;
  url: string;
}

const { className, url } = Astro.props;
---

<div
  class:list={[
    "bg-card text-card-foreground w-fullgap-6 flex overflow-hidden rounded-xl border shadow-sm",
    className,
  ]}
>
  <div class="md:flex">
    <div class="relative rounded-xl md:min-w-80">
      <Picture
        src={cover}
        alt="Virtual Coffee Podcast"
        loading="eager"
        class="hidden aspect-square w-full object-cover md:block"
      />
    </div>

    <div class="stack justify-between p-6">
      <div>
        <h5 class="mb-1">From Film Production to Web Developer</h5>
        <p class="mb-2 text-sm text-muted-foreground">
          The Virtual Coffee Podcast • August 9, 2022
        </p>
        <p class="mb-4 text-sm">
          Bekah and Dan from Virtual Coffee talk to Seth Hall about the
          importance of fostering authentic company culture, as well as how his
          search to find a challenging, fun, and flexible job led him from Film
          Production, to Web Developer.
        </p>
      </div>
      <div class="flex items-center justify-between">
        <div class="stack">
          <span class="text-sm text-muted-foreground"
            >Season 6, Episode 2
          </span>
          <span class="text-sm text-muted-foreground"> 55:09 mins </span>
        </div>
        <Button href={url} icon="play">Listen Now</Button>
      </div>
    </div>
  </div>
</div>
