---
interface Props {
  url?: string;
}

const { url } = Astro.props;
---

<div
  class="pill flex gap-2 whitespace-nowrap rounded-full bg-accent-regular p-4 text-md font-semibold leading-5 text-stone-900 dark:text-stone-100"
>
  {
    url ? (
      <a
        href={url}
        class="flex gap-2 text-stone-900 no-underline hover:text-stone-900 dark:text-stone-100 dark:hover:text-stone-100"
      >
        <slot />
      </a>
    ) : (
      <slot />
    )
  }
</div>
