---
import Icon from "./Icon.astro";
import type { iconPaths } from "./IconPaths";

const skills: {
  title: string;
  description: string;
  icon: keyof typeof iconPaths;
  skills?: string[];
}[] = [
  {
    title: "Technical",
    description:
      "I specialize in creating dynamic, component-based websites and applications. My expertise spans across front-end and back-end technologies, enabling comprehensive solutions. I leverage modern frameworks and libraries to build scalable, composable systems. Committed to continuous learning, I stay at the forefront of emerging technologies to deliver cutting-edge solutions in this rapidly evolving field.",
    icon: "terminalWindow",
    skills: [
      "Next.js",
      "Svelte",
      "Astro",
      "TypeScript",
      "TailwindCSS",
      "Composable Architecture",
      "Node.js",
      "GraphQL",
      "RESTful APIs",
      "Git Version Control",
      "Responsive Web Design",
      "Performance Optimization",
      "Accessibility",
      "Testing",
    ],
  },
  {
    title: "Relational",
    description:
      "Throughout my career, I've excelled in building strong relationships across diverse teams and stakeholders. I effectively communicate with both technical and non-technical audiences, always prioritizing clear communication, understanding client needs, and fostering trust. This relational approach has been crucial in ensuring project alignment and success.",
    icon: "handshake",
    skills: [
      "Stakeholder Communication",
      "Client Relations",
      "Cross-functional Collaboration",
      "Active Listening",
      "Empathy",
      "Conflict Resolution",
      "Adaptability",
      "Interpersonal Skills",
    ],
  },
  {
    title: "Collaborative",
    description:
      "I thrive in collaborative environments, leveraging my experience with agile methodologies and industry-standard tools. My approach emphasizes teamwork, open communication, and shared problem-solving. I'm adept at using collaborative platforms to streamline workflows, facilitate knowledge sharing, and ensure seamless integration of team efforts. This collaborative mindset not only enhances project outcomes but also fosters a positive and productive work atmosphere.",
    icon: "strategy",
    skills: [
      "Agile Methodologies",
      "Jira",
      "Git",
      "VS Code",
      "Slack",
      "GitHub",
      "Notion",
      "Trello",
      "Confluence",
      "Microsoft Teams",
    ],
  },
  {
    title: "Organizational",
    description:
      "My organizational skills are a cornerstone of my professional approach. I excel in project management, utilizing tools and methodologies to ensure efficient workflow and timely delivery. My ability to prioritize tasks, manage resources effectively, and maintain clear documentation contributes significantly to project success. I'm adept at creating structured environments that promote productivity and clarity, whether working independently or coordinating team efforts.",
    icon: "creative",
    skills: [
      "Project Management",
      "Task Prioritization",
      "Resource Allocation",
      "Time Management",
      "Documentation",
      "Process Optimization",
      "Goal Setting",
      "Workflow Planning",
      "Deadline Management",
      "Strategic Planning",
    ],
  },
];
---

<section
  class="relative grid grid-cols-1 gap-12 rounded-xl p-10 shadow lg:gap-16"
>
  <div
    class="absolute inset-0 rounded-xl bg-gradient-to-r from-[var(--gradient-stop-1)] via-[var(--gradient-stop-2)] to-[var(--gradient-stop-3)] p-1"
    style="
      mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
    "
  >
  </div>

  {
    skills.map((skill) => (
      <div class="stack gap-2 lg:gap-4">
        <Icon
          icon={skill.icon}
          color="var(--accent-regular)"
          size="2.5rem"
          gradient
        />
        <h2 class="text-lg lg:text-2xl">{skill.title}</h2>
        {/* <ul class="flex list-none flex-wrap gap-1 text-sm italic text-stone-300">
          {skill.skills?.map((skill) => (
            <li>{skill} | </li>
          ))}
        </ul> */}
        <p class="text-stone-300 lg:text-lg">{skill.description}</p>
      </div>
    ))
  }
</section>
